body {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 14px;
    /*scroll-behavior: smooth;*/
}

#wrapper{
    display: block;
}
.btn-primary {
    color: #000;
    background: #ffe600;
    border: 1px solid #ffe600;
    display: inline-block;
    margin: 10px;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    border: none;
}

.btn-primary:hover {
    background: #ffe600;
    color: #000;
    border: none;
}

.btn-primary:before {
    content: '';
    position: absolute;
    border: #ffe600 solid 4px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
}

.btn-primary:hover:before {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
}

.container-fluid {
    padding: 0;
}

.no-padding {
    margin: 0;
    padding: 0;
}

@media (min-width: 1200px) {
    .container {
        width: 1230px;
    }
}

.show {
    display: block;
}

.remove {
    display: none;
}

/* General */

.gen {
    padding: 65px 0;
}

.gen-b {
    background-color: #131a1d;
}

.tit-hw,
.tit-tw,
.btn-hw {
    color: #fff;
}

.tit-hb,
.tit-tb,
.btn-hb {
    color: #000;
}

.tit-g5 {
    color: #515151;
}

.tit-t7 {
    color: #707070;
}

.tit-h {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 23px;
}

.tit-g {
    padding-bottom: 23px;
    font-size: 16px;
    font-weight: 400;
}

.tit-t {
    padding-bottom: 23px;
    font-size: 16px;
}

.btn-h {
    background-color: #ffe600;
    font-size: 15px;
    font-weight: 700;
    padding: 20px 0;
    margin: 0 auto;
    text-transform: uppercase;
    width: 170px;
}

.line-g {
    background-color: #ffe600;
    height: 3px;
    margin: 0 auto 23px auto;
    width: 170px;
}

/* contact form */

#tip{
    background: rgba(255, 255, 255, 0.1);
    position: fixed;
    border: 1px double coral;
    border-radius: 2px;
    width: auto;
}

.contact-form {
    background: url('../img/contact-us.jpg') repeat-x center;
}

.contact-form form {
    position: relative;
}

.contact-form .form-control {
    background-color: transparent;
    margin-bottom: 20px;
    /*padding: 20px;*/
    color: #fff;
    border-width: 2px;
}

.contact-form .form-control:focus {
    border: 2px solid #FEE600;
}

.contact-form .form-control:focus {
    background: rgba(255, 255, 255, 0.1);
}

.contact-form .heading {
    color: #fff;
}

.commands {
    text-align: center;
}

.masked {
    background: rgba(19, 19, 22, 0.5);
    background-image: url('../img/patern.png');
    width: 100%;
    height: 100%;
    display: block;
    padding-bottom: 50px;
}

.branded-section {
    width: 100%;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;

}

.heading {
    margin: 50px 0;
    text-align: center;
    color: #000;
    position: relative;
}

.heading > div {
    text-transform: uppercase;
    font-weight: normal;
    color: #707070;
}

.heading h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
}

.heading p {
    font-size: 16px;
    width: 80%;
    margin: 0 auto;
}

/* Header */

.header {
    background: rgba(19, 19, 22, 0.30);
    height: 100px;
    width: 100%;
    z-index: 100;
}

.logo {
    padding-top: 15px;
}

.navbar {
    padding: 0;
    padding-top: 37px;
}

.navbar-nav a {
    font-weight: 700;
    padding: 0 !important;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-right: 51px !important;
    margin: 0 !important;
}

.nav-link:after {
    background-color: #ffe600;
    content: "";
    display: inline;
    height: 5px;
    position: absolute;
    right: 22px;
    top: 8px;
    width: 5px;
}

.nav-link:last-child:after {
    display: none;
}

.navbar-nav .active {
    color: #ffe600 !important;
}

.navbar-nav {
    margin-right: -50px;
}

/* banner */

.banner-header {
    color: #fff;
    font-weight: 700;
    font-size: 65px;
    line-height: 80px;
    padding-bottom: 50px;
    padding-top: 55px;
    text-transform: uppercase;
}

.banner-text {
    background: rgba(19, 19, 22, 0.4) none repeat scroll 0 0;
    position: absolute;
    top: 37%;
    width: 100%;
    right: 0;
}

.banner-button {
    margin-bottom: 85px;
}

.banner-btn {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    background-color: #ffe600;
    text-transform: uppercase;
    padding: 15px 50px;
}

.b-nav {
    cursor: pointer;
    height: 18px;
    position: absolute;
    top: 55%;
    width: 18px;
    z-index: 10;
}

.b-nav-right {
    background-image: url("icon/arrow_right.png");
    right: 23%;
}

.b-nav-left {
    background-image: url("icon/arrow_left.png");
    left: 23%;
}
.sliderwrapper{
    width: 100%;
    height: 1050px;
}
#banner{
    width: 100%;
    height: 100%;
    display: table;
}

.banner-item {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: none;
}

/* Services */

.services {
    margin-top: 5px;
}

.services-header {
    color: #515151;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    padding: 60px 0 25px 0;
}

.services-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    padding-bottom: 23px;
    color: #000;
}

.line {
    width: 170px;
    height: 3px;
    margin: 0 auto;
    background-color: #ffe600;
}

.services-text {
    padding-top: 23px;
    color: #707070;
    font-size: 16px;
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.services-img-title {
    font-weight: 700;
    padding-top: 25px;
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
}

.services-img-text {
    padding-top: 25px;
    font-size: 16px;
    color: #707070;
    padding-bottom: 70px;
}

.round-img {
    height: 105px;
    width: 105px;
    border-radius: 100%;
    background-color: #ffe600;
    margin: 0 auto;
}

.round-img img {
    padding-top: 35px;
}

.doit {
    background-color: #131a1d;
}

.doit-header {
    color: #fff;
    font-size: 16px;
    padding-bottom: 65px;
}

.doit-title {
    padding: 65px 0 25px 0;
    font-weight: 700;
    font-size: 30px;
    color: #ffe600;
    text-transform: uppercase;
}

.doit-img-title {
    font-weight: 700;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}

.doit-img-text {
    color: #fff;
    padding-top: 28px;
    padding-bottom: 50px;
    font-size: 16px;
}

.doit-img {
    height: 70px;
}

.hover {
    transition: width 0.35s ease-out;
    cursor: pointer;
}

#filtr .navbar-nav {
    float: inherit;
}

#filtr .navbar-nav a:hover {
    color: #000;
    text-decoration: none;
}

.filtr-item {
    min-height: 500px;
}

.filtr-item div {
    transition: all 1s linear;
}

.fmeny {
    margin: 0 auto;
    padding-bottom: 75px;
}

.fmeny > a {
    color: #515151;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.let1 {
    position: relative;
}

.let2 {
    opacity: 0;
}

.let1:hover > .let2 {
    transition: all 0.5s linear;
    opacity: 1;
    cursor: pointer;
}

.let2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(255, 230, 0, 0.41);
}

.filtr-hov {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.filtr-ho {
    font-size: 16px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

.fil {
    margin-top: 25%;
}

.port-title {
    padding-bottom: 2px !important;
}

.port-icon {
    background-color: #ffe600;
    background-image: url("icon/arrow_bottom.png");
    background-position: 50% center;
    background-repeat: no-repeat;
    height: 20px;
    margin: 65px auto;
    padding: 20px;
    width: 20px;
}

.dod-title {
    color: #fff;
}

.port-btn {
    text-transform: uppercase;
    background-color: #ffe600;
    color: #fff;
    margin: 5px auto 65px auto;
    padding: 20px 0;
    width: 170px;
    font-weight: 700;
    font-size: 15px;
}

.hdoit-t {
    font-weight: 700;
    padding-top: 25px;
    font-size: 40px;
    color: #fff;
}

.hdoit-r {
    color: #ffe600;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 30px;
    font-weight: 400;
}

.hdoit-b {
    border: 1px solid #ffe600;
    margin-bottom: 50px;
}

.round-ab {
    height: 70px;
    width: 70px;
}

.round-ab img {
    padding-left: 1px;
    padding-top: 18px;
}

.ab-t {
    padding-top: 0;
    font-size: 16px;
    text-transform: uppercase;
    color: #515151;
    font-weight: 400;
}

.ab-text {
    color: #707070;
    padding-bottom: 60px;
    padding-top: 5px;
    font-size: 16px;
    line-height: 26px;
}

.ad-ht {
    padding-bottom: 90px;
}

.team {
    background: #fbfbfb;
    padding: 65px 0;
}

.team-header {
    font-weight: 700;
    color: #000;
    font-size: 30px;
    padding-bottom: 28px;
    text-transform: uppercase;
}

.tean-title {
    color: #707070;
    padding-bottom: 60px;
}

.team-c {
    background-color: #fff;
    border-bottom: 2px solid #dfe4e5;
    width: 100%;
    cursor: pointer;
}

.go {
    position: relative;
}

.go::after {
    content: '';
    position: absolute;
    left: 40%;
    bottom: -67px;
    border: 20px solid transparent;
    border-bottom: 20px solid #131316;
}

.t-close {
    cursor: pointer;
}

.team-c-t {
    color: #ffe600;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 17px;
}

.team-c-d {
    color: #707070;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    padding: 13px 0 16px 0;
}

.team-car {
    background-color: #131316;
}

.t-name {
    font-size: 20px;
    font-weight: 400;
    color: #ffe600;
    padding-top: 65px;
    padding-bottom: 20px;
    line-height: 26px;
    text-transform: uppercase;
}

.team-d {
    max-width: 801px;
    margin: 0 auto;
}

.team-dt {
    color: #fff;
    font-size: 16px;
}

.soc {
    border: 1px solid #fff;
    display: inline-table;
    margin-top: 23px;
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

.team-s {
    padding-bottom: 45px;
}

.soc img {
    padding: 10px 0 0 8px;
}

.sfb img {
    padding-left: 12px;
}

.soc:hover {
    background-color: #ffe600;
    cursor: pointer;
}

.team-card-j {
    display: none;
}

.team-des {
    background-color: #131a1d;
    padding-bottom: 45px;
}

.team-h {
    padding-bottom: 25px;
}

.can-t {
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 20px;
    margin-top: -17px;
    color: #ffe600;
}

canvas {
    display: inline-block;
    margin: auto;
}

/* Contact */

.contact-i {
    padding-top: 47px;
}

.contact-h {
    font-size: 20px;
    color: #131316;
    font-weight: 400;
    padding: 25px 0;
    text-transform: uppercase;
}

.contact-t {
    padding-top: 5px;
    font-size: 20px;
    color: #515151;
}

/* Message */

.message-t input {
    width: 100%;
    margin-top: 41px;
    height: 60px;
    border: 1px solid #fff;
    background-color: #131a1d;
    color: #fff;
    font-size: 15px;
    padding: 20px;
    margin-bottom: 14px;
}

.message-t textarea {
    width: 100%;
    height: 220px;
    border: 1px solid #fff;
    background-color: #131a1d;
    color: #fff;
    font-size: 15px;
    padding: 20px;
    margin: 14px 0 63px 0;
}

.message-b {
    margin-bottom: 8px;
}

.message-b:hover {
    color: #000;
    cursor: pointer;
}

/* Footer */

.footer {
    background-color: #131316;
}

.footer-c {
    padding: 25px 0;
    color: #fff;
    font-size: 16px;
}

.footer-c span {
    color: #ffe600;
}

.footer-i {
    display: inline;
    padding: 0 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-i:hover {
    cursor: pointer;
}

.footer-fb {
    background-image: url("icon/fb.png");
}

.footer-tw {
    background-image: url("icon/tw.png");
}

.footer-go {
    background-image: url("icon/go.png");
}

.footer-dr {
    background-image: url("icon/dr.png");
}

.footer-fb {
    background-image: url("icon/fb.png");
}

.footer-tw {
    background-image: url("icon/tw.png");
}

.footer-go {
    background-image: url("icon/go.png");
}

.footer-dr {
    background-image: url("icon/dr.png");
}

.footer-fb:hover {
    background-image: url("icon/fb.png");
}

.footer-tw:hover {
    background-image: url("icon/tw.png");
}

.footer-go:hover {
    background-image: url("icon/go_h.png");
}

.footer-dr:hover {
    background-image: url("icon/dr_h.png");
}

.footer-b {
    background-color: #ffe600;
    background-image: url("icon/arrow_top.png");
    background-position: 50% center;
    background-repeat: no-repeat;
    height: 60px;
    padding: 20px;
    width: 60px;
    margin: 30px auto 0 auto;
}

.footer-b:hover {
    background-image: url("icon/arrow_top_y.png");
    background-color: #fff;
    cursor: pointer;
}

/*  carousel*/

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #ffe600;
}

.carousel-indicators li {
    border-color: #ffe600;
}

.carousel-indicators li.active {
    background-color: #ffe600;
}


/* endof carousel */


/********************************************
				CLIENTS
********************************************/

.client-slider {
    margin-bottom: 70px;
}
#logoslider{
    margin: 20px auto;
    width: 360px;
    height: 160px;
    margin-top: 20px;
    background-size: cover;
}

.client-nav {
    list-style: none;
    text-align: center;
    margin-bottom: 70px;
}

.client-nav > li {
    display: inline-block;
    margin-left: 10px;
    text-align: center;
    padding: 0;
}

.client-nav > li > a {
    color: #fff;
    background: #ffe600;
    color: #fff;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    display: block;
}

.client-nav > li > a .fa {
    line-height: 30px;
}
